<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="layui-header" th:fragment="header_info">
    <div class="layui-logo">后台管理</div>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">消息<span class="layui-badge">4</span></a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                NightWith
            </a>
            <dl class="layui-nav-child">
                <dd><a href="">基本资料</a></dd>
                <dd><a href="">设置</a></dd>
                <dd><a th:href="@{/login_out}" href="">退出</a></dd>
            </dl>
        </li>
    </ul>
</div>
</body>
</html>