<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="layui-menu" th:fragment="menu">
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="menu-nav">
                <li class="layui-nav-item">
                    <a href="javascript:;">首页</a>
                </li>
                <li th:class="${parent}=='topic'?'layui-nav-item layui-nav-itemed':'layui-nav-item'">
                    <a href="javascript:;" >文章管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/admin/topics}" th:class="${child}=='topics'?'layui-this':''">所有文章</a></dd>
                        <dd><a th:href="@{/admin/topics/my}" th:class="${child}=='myTopics'?'layui-this':''">我的文章</a></dd>
                        <dd><a th:href="@{/admin/topics/draft}" th:class="${child}=='draft'?'layui-this':''">草稿箱</a></dd>
                        <dd><a th:href="@{/admin/topics/recycle}" th:class="${child}=='recycle'?'layui-this':''">回收站</a></dd>
                    </dl>
                </li>
                <li th:class="${parent}=='comment'?'layui-nav-item layui-nav-itemed':'layui-nav-item'">
                    <a href="javascript:;">评论管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" th:class="${child}=='comments'?'layui-this':''">所有评论</a></dd>
                        <dd><a href="javascript:;" th:class="${child}=='myComments'?'layui-this':''">我的评论</a></dd>
                    </dl>
                </li>
                <li th:class="${parent}=='academy'?'layui-nav-item layui-nav-itemed':'layui-nav-item'">
                    <a href="javascript:;">研究院</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" th:class="${child}=='unkonwn'?'layui-this':''">待定</a></dd>
                    </dl>
                </li>
                <li th:class="${parent}=='system'?'layui-nav-item layui-nav-itemed':'layui-nav-item'">
                    <a href="javascript:;">系统设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" th:class="${child}=='userManage'?'layui-this':''">用户管理</a></dd>
                        <dd><a th:href="@{/admin/druid}" th:class="${child}=='webManage'?'layui-this':''">WEB监控</a></dd>
                        <dd><a href="javascript:;" th:class="${child}=='logManage'?'layui-this':''">日志管理</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>