<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理</title>
    <link rel="stylesheet" th:href="@{statics/css/theme.css}" href="../../static/statics/css/theme.css">
    <script th:src="@{statics/layui/layui.js}" src="../../static/statics/layui/layui.js"></script>
    <script th:src="@{statics/js/index.js}"></script>
</head>
<body class="layui-layout-body">
    <div class="layui-body">
        <div style="padding: 15px;">内容主体区域11111</div>
    </div>
</div>
</body>
</html>