<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理</title>
    <link rel="stylesheet" th:href="@{statics/css/theme.css}" href="../../static/statics/css/theme.css">
    <script th:src="@{statics/layui/layui.js}" src="../../static/statics/layui/layui.js"></script>
    <script th:src="@{statics/js/index.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:insert="~{admin/layout_header :: header}"></div>
    <div th:insert="~{admin/layout_menu :: menu(parent='topic',child='draft')}"></div>
    <div class="layui-body">
        <iframe id="content_page" th:src="@{/admin/main}" width="100%" height="100%"  frameborder="no" border="0" marginwidth="0" marginheight=" 0" scrolling="yes" allowtransparency="yes"></iframe>
    </div>
    <div th:insert="~{admin/layout_footer :: footer}"></div>
</div>
</body>
</html>