<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理</title>
    <link rel="stylesheet" th:href="@{/statics/css/theme.css}">
    <script th:src="@{/statics/layui/layui.js}"></script>
    <script th:src="@{/statics/js/index.js}"></script>
</head>
<body class="layui-layout-body setting-page">
<div class="layui-layout layui-layout-admin">
    <div th:insert="~{admin/header :: header_info}"></div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="menu-nav">
                <li class="layui-nav-item">
                    <a href="javascript:;">首页</a>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">文章管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">所有文章</a></dd>
                        <dd><a href="javascript:;">我的文章</a></dd>
                        <dd><a href="javascript:;">草稿箱</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">评论管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">所有评论</a></dd>
                        <dd><a href="javascript:;">我的评论</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">研究院</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">待定</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">系统设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">用户管理</a></dd>
                        <dd><a th:href="@{/admin/druid}">WEB监控</a></dd>
                        <dd><a href="javascript:;">日志管理</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <div class="setting-box">
            <h3>修改密码</h3>
            <hr class="layui-bg-gray">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">旧密码 ：</label>
                    <div class="layui-input-inline">
                        <input type="password" name="oldPwd" required lay-verify="pass" placeholder="请输入旧密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">新密码 ：</label>
                    <div class="layui-input-inline">
                        <input type="password" name="newPwd" required lay-verify="pass" placeholder="请输入新密码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux pwd-tip">请填写6到12位密码</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">确认密码 ：</label>
                    <div class="layui-input-inline">
                        <input type="password" name="confirmPwd" required lay-verify="pass" placeholder="请再次输入新密码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux pwd-error" style="color: red !important;"></div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" type="button">确认修改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div th:insert="~{admin/footer :: copy}"></div>
</div>
</body>
</html>