<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理</title>
    <link rel="stylesheet" th:href="@{/statics/css/theme.css}">
    <script th:src="@{/statics/layui/layui.js}"></script>
    <script th:src="@{/statics/js/index.js}"></script>
</head>
<body class="layui-layout-body info-update-page">
<div class="layui-layout layui-layout-admin">
    <div th:insert="~{admin/header :: header_info}"></div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="menu-nav">
                <li class="layui-nav-item">
                    <a href="javascript:;">首页</a>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;">文章管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" class="layui-this">所有文章</a></dd>
                        <dd><a href="javascript:;">我的文章</a></dd>
                        <dd><a href="javascript:;">草稿箱</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">评论管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">所有评论</a></dd>
                        <dd><a href="javascript:;">我的评论</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">研究院</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">待定</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">系统设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">用户管理</a></dd>
                        <dd><a th:href="@{/admin/druid}">WEB监控</a></dd>
                        <dd><a href="javascript:;">日志管理</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <div class="info-update-box">
            <h3>基本资料</h3>
            <hr class="layui-bg-gray">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-block">
                        <input type="text" name="userName" th:value="${user.userName}" required  lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <!--<div class="layui-form-item">-->
                    <!--<label class="layui-form-label">平台绑定</label>-->
                    <!--<div class="layui-input-block">-->
                        <!--<input type="checkbox" name="like[write]" title="GitHub">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="layui-form-item">-->
                    <!--<div class="layui-input-block">-->
                        <!--<input type="checkbox" name="like[read]" title="邮箱">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="layui-form-item">-->
                    <!--<div class="layui-input-block">-->
                        <!--<input type="checkbox" name="like[dai]" title="QQ">-->
                    <!--</div>-->
                <!--</div>-->
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">个人简介</label>
                    <div class="layui-input-block">
                        <textarea th:value="${user.profile}" name="profile" placeholder="请输入内容" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">修改</button>
                        <button type="reset" class="layui-btn layui-btn-primary">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div th:insert="~{admin/footer :: copy}"></div>
</div>
</body>
</html>