<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理</title>
    <link rel="stylesheet" th:href="@{/statics/css/theme.css}">
    <script th:src="@{/statics/layui/layui.js}"></script>
    <script th:src="@{/statics/js/index.js}"></script>
</head>
<body class="layui-layout-body user-info-page">
<div class="layui-layout layui-layout-admin">
    <div th:insert="~{admin/layout_header :: header}"></div>
    <div th:insert="~{admin/layout_menu :: menu}"></div>
    <div class="layui-body">
        <div class="user-info-box">
            <a class="info-update" th:href="@{/admin/info_update}" title="编辑">
                <i class="fa fa-file-text"></i>
            </a>
            <img th:src="${user.avatar}?${user.avatar}:@{/statics/image/avatar/default_avatar.png}" class="img-avatar">
            <div class="info-box">
                <div>
                    <label class="info-username">[[${user.userName}]]</label>
                </div>
                <div>
                    <label>< ID: [[${user.loginName}]] ></label>
                </div>
                <div class="bind-platform">
                    <a href="" th:title="GitHub">
                        <i class="fa fa-github"></i>
                    </a>
                    <a href="" th:title="邮箱">
                        <i class="fa fa-envelope"></i>
                    </a>
                </div>
                <div>
                    <label th:text="${user.profile}==null?'神秘的coder':${user.profile}"></label>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="~{admin/layout_footer :: footer}"></div>
</div>
</body>
</html>