<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理</title>
    <link rel="stylesheet" th:href="@{/statics/css/theme.css}">
    <script th:src="@{/statics/tools/layui/layui.js}"></script>
    <script th:src="@{/statics/js/jquery.min.js}"></script>
    <script th:src="@{/statics/js/lauyiInit.js}"></script>
    <!--<script th:src="@{/statics/tools/editormd/editormd.min.js}"></script>-->
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin topic-all">
    <div th:insert="~{admin/layout/layout_header :: header}"></div>
    <div th:insert="~{admin/layout/layout_menu :: menu(parent='topic',child='category')}"></div>
    <div class="layui-body">
        <div class="body-box">
            <div class="layui-card layadmin-header">
                <span class="layui-breadcrumb">
                  <a href="">首页</a>
                  <a><cite>文章管理</cite></a>
                  <a><cite>我的分类</cite></a>
                </span>
            </div>
            <div class="layui-fluid">
                <div class="layui-card">
                    <div class="layui-form layui-card-header">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <button class="layui-btn add-category" >添加分类</button>
                            </div>
                        </div>
                    </div>
                    <div class="layui-card-body">
                        <table class="layui-table" id="categoryTable" lay-data="{id:'categoryTable'}" lay-filter="categoryTable">
                            <thead>
                            <tr>
                                <th lay-data="{field:'id',type:'numbers', minWidth:100,align:'center', sort: true}">ID</th>
                                <th lay-data="{field:'name',align:'center', minWidth:180,edit: 'text'}">名称</th>
                                <th lay-data="{field:'topicCount',align:'center', minWidth:100, sort: true}">文章数</th>
                                <th lay-data="{field:'operate',align:'center',minWidth:220}">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="category:${categories}" th:data="${category.id}">
                                <td th:text="${category.id}"></td>
                                <td th:text="${category.name}"></td>
                                <td th:text="${category.topicTotal}"></td>
                                <td>
                                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="layui-btn-group demoTable">
            </div>

        </div>
    </div>
    <div th:insert="~{admin/layout/layout_footer :: footer}"></div>
</div>
</body>
</html>