<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" th:href="@{/statics/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/statics/favicon.ico}"/>
    <title>OnePiece-后台管理</title>
    <link rel="stylesheet" th:href="@{/statics/css/theme.css}">
    <link rel="stylesheet" th:href="@{/statics/tools/editormd/css/editormd.css}">
    <link rel="stylesheet" th:href="@{/statics/tools/editormd/lib/codemirror/codemirror.min.css}">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
    <script src="http://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
    <script th:src="@{/statics/tools/editormd/editormd.min.js}"></script>
    <script th:src="@{/statics/tools/layui/layui.js}"></script>
    <script th:src="@{/statics/js/lauyiInit.js}"></script>
    <script th:src="@{/statics/js/labelSelect.js}"></script>
</head>
<body class="layui-layout-body new-topics">
<div class="layui-layout layui-layout-admin">
    <div th:insert="~{admin/layout/layout_header :: header}"></div>
    <div th:insert="~{admin/layout/layout_menu :: menu(parent='topic',child='myTopics')}"></div>
    <div class="layui-body">
        <form id="topicForm" class="layui-form" th:action="@{'/admin/topics/'+${topic.id}+'/edit'}" method="post">
            <blockquote class="layui-elem-quote" th:if="${errorMsg}!=''" th:text="${errorMsg}"></blockquote>
            <div class="layui-form-item">
                <input type="text" name="title" th:value="${topic.title}" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
            </div>
            <!--<div class="layui-form-item layui-form-text" style="display: none">-->
                <!--<textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="LAY_demo_editor"></textarea>-->
            <!--</div>-->
            <!--editormd-html-textarea-->
            <div class="layui-form-item">
                <div id="editormd" mdl-cell mdl-card mdl-cell--12-col mdl-shadow--2dp content editormd-preview-theme-dark>
                        <textarea class="form-control" id="editormd-html-textarea" name="markdownContent" th:text="${topic.markdownContent}"></textarea>
                    <textarea class="editormd-html-textarea" name="content" id="content"></textarea>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">添加标签</label>
                <div class="layui-input-block" style="min-width: 193px;">
                    <input name="label" id="labels" th:value="${labels}" placeholder="最多添加5个标签"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">选择分类</label>
                <div class="layui-input-block">
                    <select name="categoryId">
                        <option value=0 selected>暂不分类</option>
                        <option th:each="category:${categories}" th:selected="${topic.categoryId}==${category.id}?true:false" th:value="${category.id}" th:text="${category.name}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <input type="number" style="display: none" th:value="${topic.status}" id="status" name="status" class="layui-input">
            </div>
            <div class="layui-form-item">
                <button type="submit" class="layui-btn">发布</button>
                <button class="layui-btn save-draft">保存为草稿</button>
                <a class="layui-btn layui-btn-primary" th:href="@{/admin/topics/my}">返回</a>
            </div>
        </form>
    </div>
    <div th:insert="~{admin/layout/layout_footer :: footer}"></div>
</div>
</body>
</html>