<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理</title>
    <link rel="stylesheet" th:href="@{/statics/css/theme.css}">
    <script th:src="@{/statics/layui/layui.js}"></script>
    <script th:src="@{/statics/js/jquery.min.js}"></script>
    <script th:src="@{/statics/js/index.js}"></script>
    <script th:src="@{/statics/editormd/editormd.min.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:insert="~{admin/layout/layout_header :: header}"></div>
    <div th:insert="~{admin/layout/layout_menu :: menu(parent='topic',child='recycle')}"></div>
    <div class="layui-body">
        <div class="body-box">
            <div class="layui-btn-group demoTable">
                <button class="layui-btn layui-btn-danger">选中删除</button>
                <button class="layui-btn layui-btn-danger">全部删除</button>
            </div>
            <table class="layui-table" lay-data="{page:true}">
                <thead>
                <tr>
                    <th lay-data="{type:'checkbox',align:'center'}"></th>
                    <th lay-data="{type:'numbers', minWidth:60,align:'center', sort: true}">ID</th>
                    <th lay-data="{field:'title',align:'center', minWidth:180}">标题</th>
                    <th lay-data="{field:'readCount',align:'center', minWidth:90,sort: true}">阅读量</th>
                    <th lay-data="{field:'likeCount',align:'center', minWidth:90, sort: true}">点赞量</th>
                    <th lay-data="{field:'content',align:'center', minWidth:90, sort: true}">评论量</th>
                    <th lay-data="{field:'createdAt',align:'center', minWidth:160, sort: true}">创建时间</th>
                    <th lay-data="{field:'operate',align:'center',minWidth:220}">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="topic:${topics}">
                    <td></td>
                    <td></td>
                    <td>
                        <a th:href="@{'/admin/topics/'+${topic.id}}" th:text="${topic.title}"></a>
                    </td>
                    <td th:text="${topic.readCount}"></td>
                    <td th:text="${topic.likeCount}"></td>
                    <td th:text="${topic.likeCount}"></td>
                    <td th:text="${topic.createdAt}"></td>
                    <td>
                        <a class="layui-btn layui-btn-xs" lay-event="resume">还原</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:insert="~{admin/layout/layout_footer :: footer}"></div>
</div>
</body>
</html>