@import "../tools/bootstrap/css/bootstrap.min.css";
/*noinspection CssUnknownTarget*/
@import url("//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


a:hover{
    text-decoration: none;
}
/*导航*/
.blog-header .navbar-default{
	background: #fff;
	margin-bottom: 0;
    border-radius: 0;
}
.blog-header .navbar-header{
	margin-left: 60px;
}
.blog-header .navbar-right{
	margin-right: 100px;
}
.blog-header .navbar-right a{
	color: #444 !important;
	font-size: 16px;
}
.blog-header .li-this{
    border-bottom: 3px solid #39cccc;
}
.blog-header .li-this a,
.blog-header li a:hover{
    color: #39cccc !important;
}
.blog-header .info{
	height: 300px;
}
.blog-header .inf-xx{
	background: rebeccapurple;
	height: 100%;
	width: 50%;
}
.blog-header .inf-wzq{
	background: rebeccapurple;
	height: 100%;
	width: 50%;
}
/*首页*/
.blog-index .user-box{
    height: 400px;
    padding-top: 20px;
    background: url("../image/bg_index.jpeg") no-repeat;
    background-size: cover;
}
.blog-index .user-info-box{
    height: 360px;
    width: 360px;
    margin-left: 200px;
    margin-bottom: 20px;
    background: url("../image/bg_info.jpg") no-repeat;
    background-size: cover;
}
.blog-index .user-info-box:nth-of-type(2){
    float: right;
    margin-right: 142px;
    margin-top: -381px;
}
.blog-index .user-info-box .img-avatar{
    width: 330px;
    height: 189px;
    margin-top: 75px;
    margin-left: 15px;
}
.blog-index .user-info-box .info-box{
    text-align: center;
    margin-top: 20px;
    background: transparent;
    box-shadow: unset;
}
.blog-index .user-info-box .info-username{
    color: #323133;
    margin-bottom: -5px;
}
.blog-index .user-info-box .layui-bg-gray{
    margin-top: 15px;
}
.blog-index .user-info-box .layui-circle{
    width: 100px;
}
.blog-index .user-info-box .layui-row{
    margin-left: 100px;
    margin-right: 100px;
}
.blog-index .user-info-box .bind-platform{
    float: right;
    font-size: 20px;
    margin-top: -15px;
    margin-right: 38px;
}
.blog-index .user-info-box .bind-platform a{
    color: #0fb17d;
    margin-right: 7px;
}
.blog-index .user-info-box .user-profile{
    margin-top: 13px;
}
/*博文*/
/*========动画=========*/
.blog-topic{
    overflow-x: hidden;
}
.blog-topic .animation{
    height: 160px;
    overflow: hidden;
    margin: 0;
    background-color: #00495F;
}
.blog-topic .animation .animation-screen{
    width: 80%;
    padding: 0;
    position: absolute;
    top: 50%;
    -webkit-animation: 20s flying infinite;
    animation: 20s flying infinite;

}
.blog-topic .animation .animation-screen{
    position: absolute;
    -webkit-animation: shake 2s steps(1, end) infinite;
    animation: shake 2s steps(1, end) infinite;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    margin-top: 55px;
}
.blog-topic .animation .animation-screen .eye {
    -webkit-animation: 8s blink infinite;
    animation: 8s blink infinite;
}
.blog-topic .animation .animation-screen .superman{
    width: 80%;
    height: auto;
    padding: 0;
    position: absolute;
    top: 50%;
    -webkit-animation: 8s flying infinite;
    animation: 8s flying infinite;
}
.blog-topic .animation .animation-screen .superman .beams{
    -webkit-animation: 8s beam infinite;
    animation: 8s beam infinite;
}
.blog-topic .animation .particles{
    background-image: -webkit-radial-gradient(70px 2px at 20% 30%, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0)), -webkit-radial-gradient(40px 2px at 40% 70%, rgba(255, 255, 255, 0.28), rgba(0, 0, 0, 0)), -webkit-radial-gradient(330px 2px at 50% 16%, rgba(255, 255, 255, 0.26), rgba(0, 0, 0, 0)), -webkit-radial-gradient(50px 4px at 90% 40%, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0)), -webkit-radial-gradient(13px 1px at 10% 80%, rgba(255, 255, 255, 0.22), rgba(0, 0, 0, 0)), -webkit-radial-gradient(94px 2px at 16% 20%, rgba(255, 255, 255, 0.33), rgba(0, 0, 0, 0)), -webkit-radial-gradient(130px 5px at 10% 80%, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0)), -webkit-radial-gradient(90px 2px at 16% 25%, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0)), -webkit-radial-gradient(130px 2px at 10% 84%, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0)), -webkit-radial-gradient(200px 4px at 90% 45%, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0)), -webkit-radial-gradient(130px 1px at 40% 55%, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0)), -webkit-radial-gradient(940px 2px at 26% 63%, rgba(255, 255, 255, 0.14), rgba(0, 0, 0, 0)), -webkit-radial-gradient(120px 5px at 30% 63%, rgba(255, 255, 255, 0.42), rgba(0, 0, 0, 0)), -webkit-radial-gradient(900px 5px at 46% 14%, rgba(255, 255, 255, 0.21), rgba(0, 0, 0, 0)), -webkit-radial-gradient(1300px 3px at 30% 80%, rgba(255, 255, 255, 0.22), rgba(0, 0, 0, 0)), -webkit-radial-gradient(900px 2px at 56% 20%, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
    background-image: radial-gradient(70px 2px at 20% 30%, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0)), radial-gradient(40px 2px at 40% 70%, rgba(255, 255, 255, 0.28), rgba(0, 0, 0, 0)), radial-gradient(330px 2px at 50% 16%, rgba(255, 255, 255, 0.26), rgba(0, 0, 0, 0)), radial-gradient(50px 4px at 90% 40%, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0)), radial-gradient(13px 1px at 10% 80%, rgba(255, 255, 255, 0.22), rgba(0, 0, 0, 0)), radial-gradient(94px 2px at 16% 20%, rgba(255, 255, 255, 0.33), rgba(0, 0, 0, 0)), radial-gradient(130px 5px at 10% 80%, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0)), radial-gradient(90px 2px at 16% 25%, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0)), radial-gradient(130px 2px at 10% 84%, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0)), radial-gradient(200px 4px at 90% 45%, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0)), radial-gradient(130px 1px at 40% 55%, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0)), radial-gradient(940px 2px at 26% 63%, rgba(255, 255, 255, 0.14), rgba(0, 0, 0, 0)), radial-gradient(120px 5px at 30% 63%, rgba(255, 255, 255, 0.42), rgba(0, 0, 0, 0)), radial-gradient(900px 5px at 46% 14%, rgba(255, 255, 255, 0.21), rgba(0, 0, 0, 0)), radial-gradient(1300px 3px at 30% 80%, rgba(255, 255, 255, 0.22), rgba(0, 0, 0, 0)), radial-gradient(900px 2px at 56% 20%, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
    background-repeat: repeat;
    background-size: 100%;
    -webkit-animation: flyby 5s infinite linear;
    animation: flyby 5s infinite linear;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: 160px;
    margin-top: 55px;
}
.blog-topic .animation .particles:nth-of-type(2) {
    background-size: 300%;
    -webkit-animation-duration: 2s;
    animation-duration: 8s;
}
.blog-topic .animation .particles:nth-of-type(3) {
    background-position: -10%;
    background-size: 300%;
    -webkit-animation-duration: 3s;
    animation-duration: 10s;
}
@-webkit-keyframes blink {
    0%, 20%, 24%, 70%, 72%, 80%, 82%, 100% {
        fill: #fff;
    }
    22%, 71%, 81% {
        fill: #111;
    }
}

@keyframes blink {
    0%, 20%, 24%, 70%, 72%, 80%, 82%, 100% {
        fill: #fff;
    }
    22%, 71%, 81% {
        fill: #111;
    }
}
@-webkit-keyframes beam {
    0%, 100% {
        opacity: 0.2;
    }
    20%, 28% {
        opacity: 0.8;
    }
    24%, 70% {
        opacity: 0.7;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.2;
    }
}
@keyframes beam {
    0%, 100% {
        opacity: 0.2;
    }
    20%, 28% {
        opacity: 0.8;
    }
    24%, 70% {
        opacity: 0.7;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.2;
    }
}
@-webkit-keyframes flying {
    0%, 100% {
        -webkit-transform: translate(-60%, -50%);
        transform: translate(-60%, -50%);
    }
    20%, 28% {
        -webkit-transform: translate(-25%, -50%);
        transform: translate(-25%, -50%);
    }
    24%, 70% {
        -webkit-transform: translate(-30%, -50%);
        transform: translate(-30%, -50%);
    }
    40% {
        -webkit-transform: translate(-40%, -50%);
        transform: translate(-40%, -50%);
    }
    /*noinspection ALL*/
    50% {
        -webkit-transform: translateX(-50%, -50%);
        transform: translateX(-50%, -50%);
    }
}
@keyframes flying {
    0%, 100% {
        -webkit-transform: translate(-60%, -50%);
        transform: translate(-60%, -50%);
    }
    20%, 28% {
        -webkit-transform: translate(-25%, -50%);
        transform: translate(-25%, -50%);
    }
    24%, 70% {
        -webkit-transform: translate(-30%, -50%);
        transform: translate(-30%, -50%);
    }
    40% {
        -webkit-transform: translate(-40%, -50%);
        transform: translate(-40%, -50%);
    }
    /*noinspection ALL*/
    50% {
        -webkit-transform: translateX(-50%, -50%);
        transform: translateX(-50%, -50%);
    }
}
@-webkit-keyframes shake {
    0%, 12%, 26%, 67%, 96%, 100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    34%, 46%, 85% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    45%, 70% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    87% {
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
    }
    75% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
}
@keyframes shake {
    0%, 12%, 26%, 67%, 96%, 100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    34%, 46%, 85% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    45%, 70% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    87% {
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
    }
    75% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
}
@-webkit-keyframes flyby {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
@keyframes flyby {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
/*=================*/

.blog-topic{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background: #ecf0f5;
}
.blog-topic .topic-body{
	margin: 40px 40px;
	min-height: 300px;
}
.blog-topic .content-box{
	background: #fff;
}
.blog-topic .topic-list{
	padding: 0;
	margin: 10px 20px;
	list-style: none;
}
.blog-topic .topic-list li{
	position: relative;
	width: 100%;
	padding: 15px 2px 9px 0;
	border-bottom: 1px solid #f0f0f0;
	word-wrap: break-word;
}
.blog-topic .topic-list .title{
	margin: -7px 0 4px;
	font-size: 18px;
	color: #444;
	font-weight: 700;
	line-height: 1.5;
}
.blog-topic .topic-list .topic-label{
    float: right;
}
.blog-topic .topic-list .topic-label span{
    margin-right: 8px;
    font-size: 12px;
    color: #59af2d;
}
.blog-topic .topic-list .topic-label .fa-tag{
    margin-right: 3px;
}
.blog-topic .topic-list .topic-content{
	margin: 0 0 18px;
	font-size: 13px;
	line-height: 24px;
	color: #999;
    padding: 10px 5px 10px 0;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.blog-topic .topic-list .meta{
	padding-right: 0;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
}
.blog-topic .topic-list .meta .meta-info{
	float: right;
	color: #b4b4b4;
}
.blog-topic .topic-list .meta .meta-info label{
	font-weight: 100;
    margin-left: 8px;
}
.blog-topic .topic-list .layui-flow-more{
    text-align: center;
    margin: 25px 0;
    color: #b4b4b4;
}
.blog-topic .topic-sidebar{
	float: right;
	background: #fff;
}
.blog-topic .topic-sidebar .user-header{
	padding: 20px;
}
.blog-topic .topic-sidebar .img-circle{
	width: 65px;
	height: auto;
	float: left;
    margin-right: 10px;
}
.blog-topic .topic-sidebar .box-footer .nav-stacked{
	margin-bottom: 10px;
}
.blog-topic .topic-sidebar .box-footer li{
	border-bottom: 1px solid #f2f2f2;
}
.blog-topic .topic-sidebar .box-footer a:hover{
	background: #fff;
}
.blog-topic .topic-sidebar .split-line{
    height: 35px;
    line-height: 35px;
    background: #39cccc;
    margin-top: 20px;
    color: #fff;
    text-align: center;
}
/*文章详情*/
.topic-info .body-box{
    background: #fff;
    margin: 20px 150px 40px;
}
.topic-info .author{
    margin: 30px 0 40px;
}
.topic-info .draft-label{
    float: right;
    margin-top: -41px;
    margin-left: 52px;
    padding: 2px 12px;
    font-size: 15px;
    background: #42c02e;
    color: #fff;
}
.topic-info .author .layui-nav-img{
    width: 48px;
    height: 48px;
    vertical-align: middle;
    display: inline-block;
}
.topic-info .author .info {
    vertical-align: middle;
    display: inline-block;
    margin-left: 8px;
}
.topic-info .author .name {
    margin-right: 3px;
    font-size: 16px;
    vertical-align: middle;
}
.topic-info .author .name a{
    color: #333;
}
.topic-info .author .meta {
    margin-top: 5px;
    font-size: 12px;
    color: #969696;
}
.topic-info .author .meta span {
    padding-right: 5px;
}
.topic-info .label-box{
    display: inherit;
    margin-left: 20px;
    font-size: 13px;
}
.topic-info .author .name .topic-label{
    margin-right: 5px;
    color: #42c02e;
}
.topic-info .topic-body {
    color: #2f2f2f;
    word-break: break-word!important;
    word-break: break-all;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
}