@import "../layui/css/layui.css";
@import "../tools/bootstrap/css/bootstrap.min.css";
@import "../tools/bootstrap/css/AdminLTE.min.css";
@import url("//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import "admin/login.css";

.layui-layout-admin .layui-body{
    overflow: auto;
}
.layui-layout-admin #content_page{
    min-width: 1100px;
}
.layui-layout-admin #content_page .container{
    width: 100%;
}
.layui-layout-admin .body-box{
    background: #f2f2f2;
}
/*导航*/
.layui-layout-admin .layadmin-header{
    height: 50px;
    line-height: 50px;
    border-radius: 0;
}
.layui-layout-admin .layui-header .publish-topic{
    margin-left: 200px;
    margin-top: 12px;
    width: 130px;
    font-size: 16px;
    background: #3ab92a;
}
.layui-layout-admin .layadmin-header .layui-breadcrumb{
    padding: 0 15px;
}
.layui-layout-admin .layui-fluid{
    padding: 15px;
}
.layui-layout-admin .layui-card-header{
    height: auto;
}
/*文章模块*/
.topic-all .layui-card-header,
.topics-my .layui-card-header,
.topic-draft .layui-card-header{
    padding-top: 18px;
}
.topic-all .layuiadmin-btn-list,
.topics-my .layuiadmin-btn-list,
.topic-draft .layuiadmin-btn-list{
    margin-top: -11px;
}
/*所有文章*/

/*我的文章*/

/*创建文章*/
.new-topics .layui-form{
    margin: 40px 40px 40px 40px;
}
.new-topics .layui-form-label{
    padding: 9px 12px;
    margin-left: -15px;
}
.new-topics .layui-input-inline{
    margin-left: 21px;
}
.new-topics .layui-input-block{
    margin-left: 86px;
}
.new-topics  .layui-form-select{
    width: 193px;
}
.new-topics .layui-elem-quote{
    color: red;
    border-left: 5px solid red;
}
/*文章详情*/
.topic-info .body-box{
    background: #fff;
    margin: 20px 40px 40px 40px;
}
.topic-info .author{
    margin: 30px 0 40px;
}
.topic-info .draft-label{
    float: right;
    margin-top: -41px;
    margin-left: 52px;
    padding: 2px 12px;
    font-size: 15px;
    background: #42c02e;
    color: #fff;
}
.topic-info .author .layui-nav-img{
    width: 48px;
    height: 48px;
    vertical-align: middle;
    display: inline-block;
}
.topic-info .author .info {
    vertical-align: middle;
    display: inline-block;
    margin-left: 8px;
}
.topic-info .author .name {
    margin-right: 3px;
    font-size: 16px;
    vertical-align: middle;
}
.topic-info .author .name a{
    color: #333;
}
.topic-info .author .meta {
    margin-top: 5px;
    font-size: 12px;
    color: #969696;
}
.topic-info .author .meta span {
    padding-right: 5px;
}
.topic-info.topic-body {
    color: #2f2f2f;
    word-break: break-word!important;
    word-break: break-all;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
}
/*基本资料*/
.user-info-page .layui-body{
    background: #eddbc3;
}
.user-info-page .user-info-box{
    height: 630px;
    width: 630px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: url("../image/bg_info.jpg") no-repeat;
    background-size: cover;
}
.user-info-page .user-info-box .info-update{
    color: #ff5722;
    float: right;
    font-size: 25px;
    margin-right: -22px;
    margin-top: -3px;
}
.user-info-page .user-info-box .img-avatar{
    width: 577px;
    height: 328px;
    margin-top: 133px;
    margin-left: 27px;
}
.user-info-page .user-info-box .info-box{
    text-align: center;
    margin-top: 38px;
    background: transparent;
    box-shadow: unset;
}
.user-info-page .user-info-box .info-username{
    font-size: 30px;
    color: #323133;
    margin-bottom: -5px;
}
.user-info-page .user-info-box .layui-bg-gray{
    margin-top: 15px;
}
.user-info-page .user-info-box .layui-circle{
    width: 100px;
}
.user-info-page .user-info-box .layui-row{
    margin-left: 100px;
    margin-right: 100px;
}
.user-info-page .user-info-box .bind-platform{
    float: right;
    font-size: 28px;
    margin-top: -51px;
    margin-right: 105px;
}
.user-info-page .user-info-box .bind-platform a{
    color: #0fb17d;
    margin-right: 7px;
}
/*基本资料编辑*/
.user-info-page .user-info-box .input-box{
    margin-left: 210px;
}
.user-info-page .user-info-box .info-save{
    color: #0fb17d;
    float: right;
    font-size: 25px;
    margin-right: -24px;
    margin-top: -3px;
    background: transparent;
    border: 0;
}
.user-info-page .user-info-box .info-goback{
    color: red;
    float: right;
    font-size: 25px;
    margin-top: 20px;
    margin-right: -20px;
}
.user-info-page .user-info-box .update-box{
    margin-top: 18px;
}
.user-info-page .user-info-box .upload-box{
    text-align: center;
}
.user-info-page .user-info-box .layui-btn{
    margin-top: -58px;
}
.user-info-page .user-info-box #cancelAvatar{
    display: none;
}
.user-info-page .user-info-box .layui-input{
    width: 200px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    padding-top: 10px;
}
.user-info-page .user-info-box .layui-input:focus,
.user-info-page .user-info-box .layui-input:hover{
    border-color: #fff !important;
}
.user-info-page .user-info-box .layui-textarea{
    width: 400px;
    height: 24px;
    border: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    min-height: 24px;
    padding: 0px 10px;
    border-radius: 0;
}
.user-info-page .user-info-box .layui-textarea:focus,
.user-info-page .user-info-box .layui-textarea:hover{
    border-color: #fff !important;
}
/*设置*/
.setting-page .setting-box{
    margin: 20px 20px 0 20px;
}
.setting-page .setting-box .layui-bg-gray{
    margin-top: 15px;
    margin-bottom: 30px;
}
.setting-page .setting-box .layui-form-label{
    padding: 9px 3px;
}
.setting-page .setting-box .layui-input{
    border: 0;
    border-bottom: 1px solid #e6e6e6;
    border-radius: 0;
}
.setting-page .setting-box .btn{
    width: 190px;
}
.setting-page .layui-layer-msg{
    top: 70px !important;
    left: unset !important;
    right: 0px;
}