<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="blog-footer" th:fragment="footer">
        <div class="about-info">
            <label>OnePiece</label>
            <p>
                OnePiece是个人及朋友在Coding路上的点点滴滴，主要关于技术相关总结分享，
                更望能将浮生中酸甜苦辣记录于此，待到往后回首之时且细细回味，想亦乐无穷也。
            </p>
        </div>
        <p class="about-thank">感谢阿里云服务器提供靠谱的持续输出，七牛云提供免费的存储及CDN加速</p>
        <p>© 2018-2019 / 皖ICP备18025281号-1 / 皖公网安备34012302000365号</p>
    </div>
</body>
</html>