<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/statics/css/blog.css">
</head>
<body class="blog-topic">
    <div class="blog-header">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">菜鸟教程</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"></span> 首页</a></li>
                    <li><a href="#"></span> 博文</a></li>
                    <li><a href="#"></span> 小黑屋</a></li>
                    <li><a href="#"></span> 生活</a></li>
                    <li><a href="#"></span> 留言</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row topic-body">
        <div class="col-md-8 content-box">
            <ul class="topic-list">
                <li>
                    <a class="title" href="">标题</a>
                    <p class="topic-content">这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容</p>
                    <div class="meta">
                        <a href="">NightWish</a>
                        --
                        <a href="">技术分类</a>
                        <div class="meta-info">
                            <label>2017-10-2</label>
                            <label>浏览 23</label>
                            <label>点赞 10</label>
                            <label>评论 20</label>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-3 topic-sidebar">
            <div class="box">
                <div class="user-header">
                    <div class="user-avatar">
                        <img class="img-circle" src="../static/statics/image/avatar/default_avatar.png" alt="User Avatar">
                    </div>
                    <h3 class="user-username">NightWish</h3>
                </div>
                <div class="box-footer">
                    <ul class="nav nav-stacked">
                        <li><a href="#">Projects <span class="pull-right badge bg-blue">31</span></a></li>
                        <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
                        <li><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
                        <li><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>