<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>OenPiece~码出一个人生</title>
    <link rel="stylesheet" th:href="@{/statics/css/blogTheme.css}">
    <script th:src="@{/statics/tools/layui/layui.js}"></script>
    <script th:src="@{/statics/js/blog.js}"></script>
</head>
<body class="layui-layout-body topic-info">
<div class="layui-layout layui-layout-admin">
    <div th:include="~{_header :: blogHeader(li='blog')}"></div>
    <div class="layui-body">
        <div class="body-box">
            <div class="topic-header">
                <h1 th:text="${topic.title}"></h1>
                <div class="author">
                    <a href="javascript:;">
                        <img th:src="${topic.user.avatar}?${topic.user.avatar}:@{/statics/image/avatar/default_avatar.png}" class="layui-nav-img">
                    </a>
                    <div class="info">
                    <span class="name">
                        <a href="javascript;" th:text="${topic.user.userName}"></a>
                        <div class="label-box">
                            <a class="topic-label" href="" th:each="label : ${topic.labels}">
                                <i class="fa fa-tag"></i>
                                [[${label.name}]]
                            </a>
                        </div>
                    </span>
                        <div class="meta">
                            <span>
                                分类 :
                                <a href="" th:text="${topic.category.name}"></a>
                            </span>
                            <span th:text="'发布时间 : '+${#calendars.format(topic.createdAt,'yyyy-MM-dd HH:mm:ss')}"></span>
                            <span th:text="'阅读 '+${topic.readCount}"></span>
                            <span th:text="'点赞 '+${topic.likeCount}"></span>
                            <span th:text="'评论 '+0"></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="layui-bg-gray">
            <div class="topic-body" th:utext="${topic.content}">

            </div>
        </div>
    </div>
</div>
</body>
</html>