<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>角落</title>
    <link rel="stylesheet" th:href="@{/statics/css/blogTheme.css}">
    <script th:src="@{/statics/layui/layui.js}"></script>
    <script th:src="@{/statics/js/blog.js}"></script>
</head>
<body class="blog-topic">
    <div th:include="~{ header :: blogHeader(li='blog')}"></div>
    <div th:insert="~{ superman :: superman}"></div>
    <div class="row topic-body">
        <div class="col-md-8 content-box">
            <ul class="topic-list" id="topicList">
            </ul>
        </div>
        <div class="col-md-3 topic-sidebar">
            <div class="box">
                <div class="user-header">
                    <div class="user-avatar">
                        <img class="img-circle" th:src="@{/statics/image/avatar/default_avatar.png}" alt="User Avatar">
                    </div>
                    <h3 class="user-username">NightWish</h3>
                </div>
                <div class="box-footer">
                    <ul class="nav nav-stacked">
                        <li><a href="#">Projects <span class="pull-right badge bg-blue">31</span></a></li>
                        <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
                        <li><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
                        <li><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="split-line">假装很华丽的分界线</div>
            <div class="box">
                <div class="user-header">
                    <div class="user-avatar">
                        <img class="img-circle" th:src="@{/statics/image/avatar/default_avatar.png}" alt="User Avatar">
                    </div>
                    <h3 class="user-username">WZQ</h3>
                </div>
                <div class="box-footer">
                    <ul class="nav nav-stacked">
                        <li><a href="#">Projects <span class="pull-right badge bg-blue">31</span></a></li>
                        <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
                        <li><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
                        <li><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>