<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>OnePiece-┊-身未动,心已远</title>
    <link rel="stylesheet" th:href="@{/statics/css/blogTheme.css}">
    <script th:src="@{/statics/tools/layui/layui.js}"></script>
    <script th:src="@{/statics/js/blog.js}"></script>
</head>
<body class="blog-topic">
    <div th:include="~{_header :: blogHeader(li='blog')}"></div>
    <div th:insert="~{_superman :: superman}"></div>
    <div class="row topic-body">
        <div class="col-md-8 content-box">
            <ul class="topic-list" id="topicList">
            </ul>
        </div>
        <div class="col-md-3 topic-sidebar">
                <div class="box" th:each="user : ${users}">
                    <div class="user-header">
                        <div class="user-avatar">
                            <img class="img-circle" th:src="${user.avatar}?${user.avatar}:@{/statics/image/avatar/default_avatar.png}">
                        </div>
                        <h3 class="user-username" th:text="${user.userName}"></h3>
                    </div>
                    <div class="box-footer">
                        <ul class="nav nav-stacked">
                            <li th:each="category:${user.categories}">
                                <a href="#">
                                    [[${category.name}]]
                                    <span class="pull-right badge bg-blue" th:text="${category.topicTotal}"></span>
                                </a>
                            </li>
                            <li class="lazy-tip" th:if="${#lists.isEmpty(user.categories)}">
                                <span>他很懒，到现在没发过一篇文章，怎么好意思的</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--<div class="split-line">假装很华丽的分界线</div>-->
        </div>
    </div>
</body>
</html>