<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/statics/css/blog.css">
</head>
<body>
    <div class="blog-header">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">菜鸟教程</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"></span> 首页</a></li>
                    <li><a href="#"></span> 博文</a></li>
                    <li><a href="#"></span> 小黑屋</a></li>
                    <li><a href="#"></span> 生活</a></li>
                    <li><a href="#"></span> 留言</a></li>
                </ul>
            </div>
        </nav>
        <div class="info">
            <div class="info-xx">

            </div>
            <div class="info-wzq">
            </div>
        </div>
        <div class="">

        </div>
    </div>
</body>
</html>