<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理</title>
    <link rel="stylesheet" th:href="@{/statics/css/theme.css}">
    <script th:src="@{/statics/tools/layui/layui.js}"></script>
    <script th:src="@{/statics/js/jquery.min.js}"></script>
    <script th:src="@{/statics/js/lauyiInit.js}"></script>
</head>
<body class="layui-layout-body topics-my">
<div class="layui-layout layui-layout-admin">
    <div th:insert="~{admin/layout/layout_header :: header}"></div>
    <div th:insert="~{admin/layout/layout_menu :: menu(parent='comment',child='comments')}"></div>
    <div class="layui-body">
        <div class="body-box">
            <div class="layui-card layadmin-header">
                <span class="layui-breadcrumb">
                  <a href="">首页</a>
                  <a><cite>评论管理</cite></a>
                  <a><cite>所有评论</cite></a>
                </span>
            </div>
            <div class="layui-fluid">
                <div class="layui-card">
                    <div class="layui-form layui-card-header">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">标题</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">
                                    <i class="layui-icon layui-icon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="layui-card-body">
                        <div class="layui-btn-container" >
                            <button class="layui-btn layui-btn-sm layui-btn-danger topic-del" data-type="selectedDel">选中删除</button>
                            <button class="layui-btn layui-btn-sm layui-btn-danger topic-del" data-type="allDel">全部删除</button>
                        </div>
                        <table id="commentTable" class="layui-table" lay-data="{id:'commentTable',page:true,limits:[10,20,30]}" lay-filter="commentTable">
                            <thead>
                            <tr>
                                <th lay-data="{type:'checkbox',align:'center'}"></th>
                                <th lay-data="{field:'id',type:'numbers', minWidth:60,align:'center', sort: true}">ID</th>
                                <th lay-data="{field:'title',align:'center', minWidth:90}">评论人</th>
                                <th lay-data="{field:'readCount',align:'center', minWidth:120}">邮箱</th>
                                <th lay-data="{field:'likeCount',align:'center', minWidth:200}">评论内容</th>
                                <th lay-data="{field:'comment',align:'center', minWidth:180}">所属文章</th>
                                <th lay-data="{field:'createdAt',align:'center', minWidth:150, sort: true}">创建时间</th>
                                <th lay-data="{field:'operate',align:'center',minWidth:120}">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="comment:${comments}" th:data="${comment.id}>
                                <td></td>
                                <td></td>
                                <td th:text="${comment.name}"></td>
                                <td th:text="${comment.email}"></td>
                                <td th:text="${comment.content}"></td>
                                <td>
                                    <a class="comment-topic" th:data="${comment.topic.id}" href="javascript:;" th:text="${comment.topic.title}"></a>
                                </td>
                                <td th:text="${#calendars.format(comment.createdAt,'yyyy-MM-dd HH:mm:ss')}"></td>
                                <td>
                                    <a class="layui-btn layui-btn-xs" lay-event="reply">回复</a>
                                    <a class="layui-btn layui-btn-danger layui-btn-xs delete-topic" th:data="${comment.id}" lay-event="del">删除</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="~{admin/layout/layout_footer :: footer}"></div>
</div>
</body>
</html>