<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理</title>
    <link rel="stylesheet" th:href="@{/statics/css/theme.css}">
</head>
<body class="layui-layout-body topic-info">
<div class="layui-layout">
    <div class="layui-body">
        <div class="body-box">
            <div class="topic-header">
                <h1 th:text="${topic.title}"></h1>
                <label th:if="${topic.status==0}" class="draft-label">草稿</label>
                <div class="author">
                    <a href="javascript:;">
                        <img th:src="${topic.user.avatar}?${topic.user.avatar}:@{/statics/image/avatar/default_avatar.png}" class="layui-nav-img">
                    </a>
                    <div class="info">
                    <span class="name">
                        <a href="javascript;" th:text="${topic.user.userName}"></a>
                        <div class="label-box">
                            <a class="topic-label" href="" th:each="label : ${topic.labels}">
                                <i class="fa fa-tag"></i>
                                [[${label.name}]]
                            </a>
                        </div>
                    </span>
                        <div class="meta">
                            <span th:if="${topic.categoryId!=null}">
                                分类 :
                                <a href="" th:text="${topic.category.name}"></a>
                            </span>
                            <span th:text="'发布时间 : '+${#calendars.format(topic.createdAt,'yyyy-MM-dd HH:mm:ss')}"></span>
                            <span th:text="'阅读 '+${topic.readCount}"></span>
                            <span th:text="'点赞 '+${topic.likeCount}"></span>
                            <span th:text="'评论 '+${topic.commentCount}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="layui-bg-gray">
            <div class="topic-body" th:utext="${topic.content}"></div>
            <div class="reply-body">
                <div id="commentBox">
                    <div class="comment-box" th:each="comment,item : ${comments}">
                        <img class="layui-nav-img" th:src="@{/statics/image/avatar/default_avatar.png}">
                        <div class="comment-user">
                            <a class="user-name publish-name" th:text="${comment.name}?${comment.name}:'未知用户'"></a>
                            <p>
                                <img th:if="${item.last}" class="first_blood" th:src="@{/statics/image/first_blood.jpg}">
                                <span th:if="!${item.last}" th:text="${item.size-item.index}+'楼'"></span>
                                -
                                <span th:text="${#calendars.format(comment.createdAt,'yyyy-MM-dd HH:mm:ss')}"></span>
                            </p>
                        </div>
                        <div class="comment-info">
                            <p class="comment-content" th:text="${comment.content}"></p>
                        </div>
                        <div class="comment-list">
                            <div class="comment-info" th:each="child : ${comment.childComments}" th:if="${child.parentId}">
                                <p>
                                    <a class="user-name publish-name" th:text="${child.name}"></a>
                                    :
                                    <a class="user-name recevier-name" th:text="'@'+${child.receiverName}?${child.receiverName}:'未知用户'"></a>
                                    <span th:text="${child.content}"></span>
                                </p>
                                <div class="comment-child-tool">
                                    <span class="comment-date" th:text="${#calendars.format(child.createdAt,'yyyy-MM-dd HH:mm:ss')}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="first-blood-tip" th:if="${#lists.isEmpty(comments)}">
                        暂无评论
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>