.login-page{
    background: url("../../image/bg_login.jpg") no-repeat;
    background-size: cover;
}
.login-page .layui-container{
    width: 380px;
    height: 280px;
    border-radius: 2px;
    margin-top: 150px;
    background: #fff;
}
.login-page .error-msg{
    text-align: center;
    float: unset;
    color: red;
    font-size: 16px;
}
.login-page .login-title{
    text-align: center;
    margin-bottom: 20px;
    padding-top: 30px;
}
.login-page .layui-input{
    border: 0;
    border-bottom: 1px solid #ebebeb;
}
.login-page .layui-input-block{
    margin-left: 20px;
    margin-right: 20px;
}
.login-page .layui-btn{
    margin-top: 15px;
    width: 100%;
    color: #fff;
    background-color: #0084ff;
}
.login-page .layui-btn:focus{
    border-color: #0077e6;
    background-color: #0077e6;
}