<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxblog.core.dao.CommentMapper">
    
    <resultMap id="commentsOfTopicMap" type="Comment">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="email" property="email"></result>
        <result column="receiver_id" property="receiverId"></result>
        <result column="topic_id" property="topicId"></result>
        <result column="content" property="content"></result>
        <result column="created_at" property="createdAt"></result>
        <result column="author_id" property="authorId"></result>
        <collection property="childComments" ofType="Comment" >
            <id column="child_id" property="id"></id>
            <result column="child_name" property="name"></result>
            <result column="child_email" property="email"></result>
            <result column="child_receiver_name" property="receiverName"></result>
            <result column="child_parent_id" property="parentId"></result>
            <result column="child_topic_id" property="topicId"></result>
            <result column="child_content" property="content"></result>
            <result column="child_created_at" property="createdAt"></result>
        </collection>
    </resultMap>
    
    <resultMap id="commentsMap" type="Comment">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="email" property="email"></result>
        <result column="receiver_id" property="receiverId"></result>
        <result column="topic_id" property="topicId"></result>
        <result column="content" property="content"></result>
        <result column="created_at" property="createdAt"></result>
        <result column="author_id" property="authorId"></result>
        <association property="topic" javaType="Topic">
            <id column="topic_id" property="id"></id>
            <result column="title" property="title"></result>
            <result column="user_id" property="userId"></result>
        </association>
    </resultMap>

    <select id="comments" resultMap="commentsMap">
        SELECT c.*,t.id,t.title,t.user_id FROM blog_comment c
        LEFT JOIN blog_topic t ON c.topic_id=t.id
        WHERE t.status=1
        ORDER BY c.created_at DESC 
    </select>
    
    <select id="myComments" parameterType="long" resultMap="commentsMap">
        SELECT c.*,t.id,t.title,t.user_id FROM blog_comment c
        LEFT JOIN blog_topic t ON c.topic_id=t.id
        WHERE t.status=1 AND c.author_id=#{authorId}
        ORDER BY c.created_at DESC
    </select>
    
    <select id="commentsOfTopic" resultMap="commentsOfTopicMap">
        SELECT c.*,c2.id AS 'child_id',c2.name AS 'child_name',c2.email AS 'child_email',
        c2.topic_id AS 'child_topic_id',c2.parent_id AS 'child_parent_id',c2.content AS 'child_content',c2.created_at AS 'child_created_at',c3.name AS 'child_receiver_name' FROM blog_comment c
        LEFT JOIN blog_comment c2 ON c.id=c2.parent_id
        LEFT JOIN blog_comment c3 ON c2.receiver_id=c3.id
        WHERE c.topic_id=#{topicId} AND ISNULL(c.parent_id)
        ORDER BY c.created_at DESC
    </select>
    
    <select id="comment" parameterType="long" resultMap="commentsMap">
        SELECT c.*,t.id,t.title,t.user_id FROM blog_comment c
        LEFT JOIN blog_topic t ON c.topic_id=t.id
        WHERE c.id=#{id}
    </select>
    
    <select id="commentCountOfTopic" parameterType="long" resultType="int">
        SELECT count(*) FROM blog_comment WHERE topic_id=#{topicId}
    </select>
    
    <delete id="deleteAll">
        DELETE FROM blog_comment
    </delete>
    
    <update id="updateCommentAuthorName">
        UPDATE blog_comment SET name=#{name} WHERE author_id=#{authorId}
    </update>

    <update id="updateContent">
        UPDATE blog_comment SET content=#{content} WHERE id=#{id}
    </update>

    <select id="todayCount" resultType="int">
        SELECT count(id) FROM blog_comment
        WHERE TO_DAYS(created_at)=TO_DAYS(now())
    </select>

</mapper>