<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxblog.core.dao.LabelMapper">


    <select id="labels" parameterType="long" resultType="Label">
        SELECT l.* FROM blog_label_association la
        LEFT JOIN blog_label l ON la.label_id=l.id
        WHERE la.topic_id=#{id}
    </select>

</mapper>