<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxblog.core.dao.TopicMapper">

    <resultMap id="topicMap" type="map">
        <result column="category_id" property="categoryId"></result>
        <result column="category_id" property="categoryId"></result>
        <result column="read_count" property="readCount"></result>
        <result column="like_count" property="likeCount"></result>
        <result column="created_at" property="createdAt"></result>
        <result column="user_id" property="userId"></result>
        <result column="avatar" property="userAvatar"></result>
        <result column="user_name" property="userName"></result>
    </resultMap>

    <resultMap id="topicShowInfo" type="Topic">
        <id property="id" column="id"></id>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="read_count" property="readCount"></result>
        <result column="like_count" property="likeCount"></result>
        <result column="created_at" property="createdAt"></result>
        <result column="status" property="status"></result>
        <result column="category_id" property="categoryId"></result>
        <association property="category" javaType="Category">
            <id property="id" column="category_id"></id>
            <result property="name" column="name"></result>
            <result property="sort" column="sort"></result>
        </association>
        <association property="user" javaType="User">
            <id property="id" column="user_id"></id>
            <result property="userName" column="user_name"></result>
        </association>
        <collection property="labels" column="id" ofType="Label" select="com.wxblog.core.dao.LabelMapper.labels"/>
    </resultMap>
    
    <sql id="topicsShowSql">
        SELECT t.*,u.id,u.user_name,c.id,c.name,c.sort FROM blog_topic t
        LEFT JOIN blog_user u ON t.user_id=u.id
        LEFT JOIN blog_user_category c ON t.category_id=c.id
        WHERE t.status=1
        ORDER BY t.created_at DESC
    </sql>

    <sql id="topicShowSql">
        SELECT t.*,u.id,u.user_name,c.id,c.name,c.sort FROM blog_topic t
        LEFT JOIN blog_user u ON t.user_id=u.id
        LEFT JOIN blog_user_category c ON t.category_id=c.id
        <where>
            t.status=1
            <if test="id!=null">
                AND t.id=#{id}
            </if>
        </where>
        ORDER BY t.created_at DESC
    </sql>

    <sql id="topicWithUser">
        SELECT t.*,u.id,u.avatar,u.user_name FROM blog_topic t
        LEFT JOIN blog_user u ON t.user_id=u.id
    </sql>

    <sql id="statusAndUserIdWhere">
        <where>
            <if test="status!=null">
                t.status=#{status}
            </if>
            <if test="userId!=null">
               AND t.user_id=#{userId}
            </if>
        </where>
        ORDER BY t.created_at DESC
    </sql>

    <select id="topicShowByPage" resultMap="topicShowInfo">
        <include refid="topicsShowSql"></include>
    </select>

    <insert id="insert" parameterType="Topic" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO blog_topic(id,title,content,user_id,category_id,created_at,status)
        VALUES (#{id},#{title},#{content},#{userId},#{categoryId},#{createdAt},#{status})
    </insert>
    
    <update id="updateById" parameterType="Topic">
        UPDATE blog_topic SET title=#{title},content=#{content},category_id=#{categoryId},status=#{status}
        WHERE id=#{id}
    </update>
    
    <update id="updateReadCount">
        UPDATE blog_topic SET read_count=#{readCount}
        WHERE id=#{id}
    </update>
    
    <select id="topics" resultMap="topicMap">
        <include refid="topicWithUser"></include>
        <include refid="statusAndUserIdWhere">
            <property name="status" value="status"></property>
            <property name="userId" value="userId"></property>
        </include>
    </select>

    <select id="topic" resultMap="topicShowInfo" parameterType="long">
        <include refid="topicShowSql">
            <property name="id" value="id"></property>
        </include>
    </select>

    <update id="deleteAll" parameterType="integer">
        UPDATE blog_topic SET status=-1 WHERE status=#{status};
    </update>
    
    <delete id="destroy" parameterType="list">
        DELETE FROM blog_topic WHERE id in 
        <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
          #{id}
        </foreach>
    </delete>
    
</mapper>