<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxblog.core.dao.TopicMapper">

    <resultMap id="topicMap" type="map">
        <result column="category_id" property="categoryId"></result>
        <result column="read_count" property="readCount"></result>
        <result column="like_count" property="likeCount"></result>
        <result column="created_at" property="createdAt"></result>
        <result column="user_id" property="userId"></result>
        <result column="avatar" property="userAvatar"></result>
        <result column="user_name" property="userName"></result>
    </resultMap>
    
    <resultMap id="topicsOfDeletedMap" type="map">
        <result column="id" property="id"></result>
        <result column="title" property="title"></result>
        <result column="created_at" property="createdAt"></result>
        <result column="deleted_at" property="deletedAt"></result>
        <result column="deleted_user_id" property="deletedUserId"></result>
        <result column="deleted_user_name" property="deletedUserName"></result>
    </resultMap>

    <resultMap id="topicShowInfo" type="Topic">
        <id property="id" column="id"></id>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="markdown_content" property="markdownContent"></result>
        <result column="read_count" property="readCount"></result>
        <result column="like_count" property="likeCount"></result>
        <result column="created_at" property="createdAt"></result>
        <result column="status" property="status"></result>
        <result column="category_id" property="categoryId"></result>
        <result column="comment_count" property="commentCount"></result>
        <result column="file_mark_hash" property="fileMarkHash"></result>
        <association property="category" javaType="Category">
            <id property="id" column="category_id"></id>
            <result property="name" column="name"></result>
            <result property="sort" column="sort"></result>
        </association>
        <association property="user" javaType="User">
            <id property="id" column="user_id"></id>
            <result property="userName" column="user_name"></result>
        </association>
        <collection property="labels" column="id" ofType="Label" select="com.wxblog.core.dao.LabelMapper.labels"/>
    </resultMap>
    
    <sql id="topicsShowSql">
        SELECT t.*,u.user_name,c.name,c.sort,count(com.id) AS 'comment_count' FROM blog_topic t
        LEFT JOIN blog_user u ON t.user_id=u.id
        LEFT JOIN blog_user_category c ON t.category_id=c.id
        LEFT JOIN blog_comment com ON com.topic_id=t.id
        WHERE t.status=1
        GROUP BY t.id
        ORDER BY t.created_at DESC
    </sql>

    <sql id="topicsOfLabelShowSql">
        SELECT t.*,u.user_name,c.name,c.sort,count(com.id) AS 'comment_count' FROM blog_topic t
        LEFT JOIN blog_user u ON t.user_id=u.id
        LEFT JOIN blog_user_category c ON t.category_id=c.id
        LEFT JOIN blog_comment com ON com.topic_id=t.id
        WHERE t.status=1 AND t.id IN
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        GROUP BY t.id
        ORDER BY t.created_at DESC
    </sql>

    <sql id="topicsOfCategoryShowSql">
        SELECT t.*,u.user_name,c.name,c.sort,count(com.id) AS 'comment_count' FROM blog_topic t
        LEFT JOIN blog_user u ON t.user_id=u.id
        LEFT JOIN blog_user_category c ON t.category_id=c.id
        LEFT JOIN blog_comment com ON com.topic_id=t.id
        WHERE t.status=1 AND t.user_id=#{userId}
        <if test="categoryId==0">
          AND ISNULL(t.category_id)
        </if>
        <if test="categoryId!=0">
          AND t.category_id=#{categoryId}
        </if>
        GROUP BY t.id
        ORDER BY t.created_at DESC
    </sql>

    <sql id="topicShowSql">
        SELECT t.*,u.user_name,c.name,c.sort,count(com.id) AS 'comment_count' FROM blog_topic t
        LEFT JOIN blog_user u ON t.user_id=u.id
        LEFT JOIN blog_user_category c ON t.category_id=c.id
        LEFT JOIN blog_comment com ON com.topic_id=t.id
        <where>
            <if test="id!=null">
                t.id=#{id}
            </if>
        </where>
        GROUP BY t.id
        ORDER BY t.created_at DESC
    </sql>

    <sql id="topicWithUser">
        SELECT t.*,u.id,u.avatar,u.user_name FROM blog_topic t
        LEFT JOIN blog_user u ON t.user_id=u.id
    </sql>

    <sql id="statusAndUserIdWhere">
        <where>
            <if test="status!=null">
                t.status=#{status}
            </if>
            <if test="userId!=null">
               AND t.user_id=#{userId}
            </if>
        </where>
        ORDER BY t.created_at DESC
    </sql>

    <select id="topicShowByPage" resultMap="topicShowInfo">
        <include refid="topicsShowSql"></include>
    </select>

    <select id="topicShowOfCategoryByPage" resultMap="topicShowInfo">
        <include refid="topicsOfCategoryShowSql">
            <property name="userId" value="userId"></property>
            <property name="categoryId" value="categoryId"></property>
        </include>
    </select>
    
    <select id="topicShowOfLabelByPage" resultMap="topicShowInfo">
        <include refid="topicsOfLabelShowSql">
            <property name="ids" value="ids"></property>
        </include>
    </select>

    <update id="updateById" parameterType="Topic">
        UPDATE blog_topic SET title=#{title},content=#{content},markdown_content=#{markdownContent},category_id=#{categoryId},status=#{status}
        WHERE id=#{id}
    </update>
    
    <update id="updateReadCount">
        UPDATE blog_topic SET read_count=read_count+1
        WHERE id=#{id}
    </update>

    <update id="updateLikeCount">
        UPDATE blog_topic SET like_count=like_count+1
        WHERE id=#{id}
    </update>
    
    <select id="topics" resultMap="topicMap">
        <include refid="topicWithUser"></include>
        <include refid="statusAndUserIdWhere">
            <property name="status" value="status"></property>
            <property name="userId" value="userId"></property>
        </include>
    </select>
    <select id="topicsOfDeleted" resultMap="topicsOfDeletedMap">
        SELECT t.id,t.title,t.created_at,t.deleted_at,t.deleted_user_id,u.user_name AS 'deleted_user_name' FROM blog_topic t
        LEFT JOIN blog_user u ON t.user_id=u.id
        <where>
            t.status=-1
            <if test="userId!=null">
                AND t.user_id=#{userId}
            </if>
        </where>
        ORDER BY t.deleted_at DESC
    </select>

    <select id="topic" resultMap="topicShowInfo" parameterType="long">
        <include refid="topicShowSql">
            <property name="id" value="id"></property>
        </include>
    </select>

    <update id="deleteTopicById">
        UPDATE blog_topic SET deleted_before_status=status,status=-1,deleted_at=#{deletedAt},deleted_user_id=#{deletedUserId} WHERE id=#{id};
    </update>

    <update id="deleteAll">
        UPDATE blog_topic SET deleted_before_status=status,status=-1,deleted_at=#{deletedAt},deleted_user_id=#{deletedUserId} WHERE status=0;
    </update>

    <update id="deleteAllByIds">
        UPDATE blog_topic SET deleted_before_status=status,status=-1,deleted_at=#{deletedAt},deleted_user_id=#{deletedUserId}
        WHERE id IN
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="resumeById" parameterType="long">
        UPDATE blog_topic SET status=deleted_before_status,deleted_at=NULL,deleted_user_id=NULL,deleted_before_status=NULL
        WHERE id=#{id}
    </update>

    <update id="resumeAll">
        UPDATE blog_topic SET status=deleted_before_status,deleted_at=NULL,deleted_user_id=NULL,deleted_before_status=NULL
        WHERE status=-1
    </update>

    <update id="resumeAllByIds" parameterType="list">
        UPDATE blog_topic SET status=deleted_before_status,deleted_at=NULL,deleted_user_id=NULL,deleted_before_status=NULL
        WHERE id IN
        <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <delete id="destroyById" >
        DELETE FROM blog_topic WHERE id=#{id}
    </delete>

    <delete id="destroyAll" >
        DELETE FROM blog_topic WHERE status=-1
    </delete>

    <delete id="destroyAllByIds" parameterType="list">
        DELETE FROM blog_topic WHERE id IN
        <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
          #{id}
        </foreach>
    </delete>

    <update id="deleteTopicCategory" parameterType="long">
        UPDATE blog_topic SET category_id=null WHERE category_id=#{categoryId}
    </update>
    
    <select id="totalData" resultType="map">
        SELECT COUNT(t.id) AS 'totalCount',IFNULL(SUM(t.read_count),0) AS 'readCount',IFNULL(SUM(t.like_count),0) AS 'likeCount',COUNT(c.id) AS 'commentCount' FROM blog_topic t
        LEFT JOIN blog_comment c ON t.id=c.topic_id
    </select>
    
    <select id="todayData" resultType="map">
        SELECT COUNT(case when t.user_id=#{userId} then 1 else null end) AS 'publishCount',count(t.id) AS 'todayCount' FROM blog_topic t
        WHERE TO_DAYS(t.created_at)=TO_DAYS(now()) AND t.status=1
    </select>
    
</mapper>